* {
  box-sizing: border-box;
}

table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 16px;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid #000000;
  padding: 0;
}

tr:nth-child(1) > td:nth-child(1n + 1) {
  border: none;
}
tr:nth-child(10) > td:nth-child(1n + 1) {
  border: none;
}
tr:nth-child(1n + 1) > td:nth-child(1) {
  border: none;
}
tr:nth-child(1n + 1) > td:nth-child(10) {
  border: none;
}

tr:nth-child(2n + 2) > td:nth-child(2n + 3) {
  background-color: #000;
}

tr:nth-child(2n + 3) > td:nth-child(2n + 2) {
  background-color: #000;
}

tr:nth-child(10) > td:nth-child(2n + 3) {
  background-color: #fff;
}

tr:nth-child(2n + 3) > td:nth-child(10) {
  background-color: #fff;
}
