$sm: 600px;
$md: 900px;

$unit: 4px;
$menu-height: 200px;

$color-menu-navigation: #ff7f50;
$color-menu-products-list: #006400;
$color-menu-news: #0ff;
$color-menu-text-bg: #faebd7;

$menu-text-font: Verdana, sans-serif;
