$base-font-size: 16px;

$unit: 4px;
$unit-em: 1em;

$color-default: #fff;
$color-bg-header: #006400;
$color-menu-active: #9acd32;
$color-menu-item-active: #ffff00;
$color-bg-submenu: #ff7f50;
$color-submenu-active: #000;

$submenu-width: 120px;
$submenu-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
